.circulo{
    align-items:center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* box-shadow: 1px 1px 9px #000000; */
    border: #f4d8fa 20px solid;
    border-bottom: rgb(158, 109, 170) 20px solid;
    animation-name: loading;
    animation-duration: 0.5s;
    animation-play-state:paused;
    animation-iteration-count: infinite;
}

.circulo:hover{
    animation-play-state:running;
    /* animation-timing-function: step-end; */
}

@keyframes loading {
    to{
        transform: rotate(360deg);
    }
}